[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ca/root
database          = ca/root/index.txt
new_certs_dir     = ca/root/newcerts
certificate       = ca/root/certs/rootCA.pem
private_key       = ca/root/private/rootCA.key
serial            = ca/root/serial
crlnumber         = ca/root/crlnumber
crl               = ca/root/crl/rootCA.crl
default_days      = 3650
default_crl_days  = 30
default_md        = sha256
policy            = policy_any
x509_extensions   = v3_ca

[ policy_any ]
commonName        = optional

[ v3_ca ]
basicConstraints = critical,CA:true
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

[ crl_ext ]
authorityKeyIdentifier=keyid:always
